@import "../../App.scss";

.home {
  color: red;
}
.card {
  border-radius: 10px;
  border: 1px solid $Secondarycolor;
  width: 100%;
  max-width: 400px;
}
.card-label {
  color: $Fontcolor;
}
.icon-card {
  width: 15px;
}
.addbtn {
  background-color: $Accentcolor;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
