.dashboard-view {
  // border: 1px solid red;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

@media screen and (min-width: 800px) {
  .dashboard-view {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
