@import "../../App.scss";

.Modal {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: min-content;
  height: min-content;
  width: 480px;
  border-radius: 10px;
  border: 1px solid $Grey-2;
  background-color: $Primarycolor;
  z-index: 40;
}
.Modal-header {
  // background-color: $Secondarycolor;
  color: $Fontcolor;
  font-size: smaller;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 2px solid $Grey;
  margin-bottom: -2px;
}
.modal-tabs {
  margin-bottom: -2px;
}
.modal-tab {
  cursor: pointer;
}
.modal-tab-active {
  color: $Accentcolor;
  font-weight: 600;
  border-bottom: 2px solid $Accentcolor;
}
.modal-inactive {
  display: none;
}
.Modal-action {
  // background-color: $Grey;
  border-top: 1px solid #393838;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.Modal-add {
  background-color: $Accentcolor;
}
.Modal-cancel {
  border: 1px solid $Secondarycolor;
}
.form-input {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0;
  color: white;
  width: 100%;
}
.selectInput {
  padding: 5px;
  gap: 5px;
  margin: 10px 0;
  width: 100%;
}
.select {
  color: $Fontcolor;
  background-color: $Primarycolor;
  border: 1px solid $Grey-2;
}
.input {
  background-color: $Primarycolor;
  padding: 4px 5px;
  border: 1px solid $Grey-2;
  border-radius: 5px;
  color-scheme: dark;
}
.name-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.note {
  font-size: 0.8rem;
  color: $Fontcolor;
}
.blur-overlay {
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.form-header {
  display: flex;
}
