@import "../../App.scss";

.Sidebar {
  border-right: 1px solid $Secondarycolor;
  width: 64px;
  height: 100vh;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}
.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.s-item {
  margin: 8px 0;
  cursor: pointer;
  padding: 8px;
}
.side-logo {
  margin: 5px 0;
  padding: 4px;
  color: black;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.hr-break {
  margin: 8px 0;
  border-top: 1px solid $Secondarycolor;
  width: 100%;
}
.s-item-active {
  background-color: $Secondarycolor;
  border-radius: 10px;
}
.tooltip.noArrow {
  display: none;
}
