@import "../../App.scss";

.t-head {
  background-color: $Lightgrey;
}
.tr {
  border: 1px solid $Lightgrey;
}
.action > * {
  cursor: pointer;
}
.action > * > * {
  width: 18px;
}
// /** @type {import('tailwindcss').Config} */
// export default {
//   content: [
//     "./index.html",
//     "./src/**/*.{js,ts,jsx,tsx}",
//     "./node_modules/@tremor/**/*.{js,ts,jsx,tsx}",
//   ],
//   theme: {
//     extend: {},
//   },
//   plugins: [],
// };
